nav.stroke ul li a,
nav.stroke ul li a:after,
nav.stroke ul li a:before {
    transition: all .5s;
  }
  
  nav.stroke ul li a {
    position: relative;
  }
  nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgba(255,255,255,.99);
    height: 2px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.stroke ul li a {
    transition: all 2s;
  }
  
  nav.stroke ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  
  nav.stroke ul li a:hover {
    color: rgba(255,255,255,.99) !important;
    z-index: 1;
  }
  
  nav.stroke ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  
  nav.stroke ul li a.active-link {
    color: rgba(255,255,255,.99) !important;
    z-index: 1;
  }
  
  nav.stroke ul li a.active-link:after {
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
    width: 100%;
  }
  
  .navbar-brand img {
    background: white;
    height: 50px;
    padding: 5px;
  }
  
  #createStatus {
    background-color: #C00;
    border-radius: 15px;
    color: #FFF;
    display: block;
    margin-top: 15px;
    padding: 5px 10px;
    width: fit-content;
  }

  .ms-auto {
    margin-left: auto !important;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .fw-bold {
    font-weight: bold;
  }